/* General Body Styling */
body {
    background: linear-gradient(135deg, #4d3319 0%, #1a1a00 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

/* Navbar Styling */
.navbar {
    background-color: #5c3c00; /* Adjusted to match button color */
}

.navbar-brand {
    font-weight: bold;
}

/* Button Styling */
.btn.custom-btn {
    padding: .375rem .75rem;
    background-color: #5c3c00;
    color: white;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s;
}

.btn.custom-btn:hover {
    background-color: #1D0200;
}

/* Container Styling */
.container {
    max-width: 100%;
    padding: 20px;
    background-color: #fff;
    color: #333;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

/* Form and Form Controls Styling */
.form-group {
    margin-bottom: 1rem;
}

label {
    margin-bottom: .5rem;
    color: #5c3c00;
}

input[type="text"],
input[type="email"],
textarea,
select {
    width: 100%;
    padding: .375rem .75rem;
    margin-bottom: 1rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

/* Table Styling */
.table {
    color: #333;
}

.table-responsive {
    background-color: #fff;
}

thead th {
    background-color: #4F4F4F;
    color: white;
}

tbody td {
    background-color: #fff;
}

tbody tr:hover {
    background-color: #5C4033;
    color: #FFFFFF;
}

/* Responsive Table Styling */
@media (max-width: 600px) {
    table, th, td {
        display: block;
    }

    th, td {
        text-align: justify;
    }

    tr {
        margin-bottom: 10px;
        border-radius: 10px;
    }

    td {
        border: none;
        border-bottom: 1px solid #ddd;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 45%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }
}

/* Adjustments and Additional Styles */
h1, h2, h3 {
    color: #5c3c00;
}

/* Required Field Indicator */
.required {
    color: red;
}
